* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poor Story", cursive;
  /* background-color: yellow; */
}

.img_col{
    display: flex;
     justify-content: flex-start;
    align-items: center;
    
}
.text_col{
    display: flex;
    justify-content: flex-start;
   align-items: center;
}


/* row */
.main_nav_row{
    display: flex;
    align-items: center;
    
    padding-left: 50px;
    padding-right: 50px;
}
.TOGGLE_menu{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    padding: 0px;
    height: 20px;
}
.menu_list_col{
    display: flex;
    justify-content:center;

    align-items: center;
}
.Navber_Menu_New {
  margin-right: 15px;
  border: 1px solid black;
  padding: 7px 11px;
  border-radius: 50px;
  font-size: 25px;
  background-color: rgb(255, 187, 0);
}
.Col_1 {
  text-shadow: 2px 2px 12px yellow;
  font-size: 20px;
}

/* .Navber_Heading_Three:hover{
    cursor: pointer;
  } */
.btn_nav {
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  font-weight: bolder;
  color: #fff;
 
  /* padding: 13px 13px 10px 13px; */
  /* box-shadow: 0px 0px 8px white; */
}
.btn_nav:hover {
  cursor: pointer;
}
.btn_nav_new {
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  /* margin-left: 12px; */
  /* padding: 13px 1px; */
}
.Making_Footer {
  font-family: Poor Story, cursive;
}
.Frist_Div {
  margin: auto;
  background-color: rgb(255, 187, 0);
  height: 5px;
  width: 4%;
  margin-top: 10px;
}
.Footer_Input {
  width: 500px;
  height: 45px;
  border-radius: 0px;
  font-size: 17px;
  font-family: Poor Story, cursive;
  margin-top: 35px;
  box-shadow: 0px 0px 8px white;
}
.Second_div {
  background-color: rgb(0, 38, 76);
  padding: 18px 20px;
  border-radius: 50px;
  font-size: 17px;
  margin: 20px;
  margin-top: 60px;
}
.Second_div:hover {
  background-color: rgb(255, 187, 0);
  cursor: pointer;
}
.Footer_Four_Heading {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Footer_Span {
  text-decoration: none;
  color: rgb(66, 139, 202);
}
.Footer_Span:hover {
  color: rgb(255, 187, 0);
  cursor: pointer;
  text-decoration: underline;
}
.ant-layout-sider-children {
  width: inherit;
  position: fixed;
}
.Header_layot {
  background-color: rgb(0, 51, 102);
}
/* .Content_Main_Row{
  background-image: linear-gradient(to  left , #ffffff, rgb(236, 235, 235) );

 } */

/* all content css */
.Content_Main_Row {
  border-radius: 20px;
  padding: 70px;
  box-shadow: 0px 0px 9px rgb(0, 51, 102);
}
.Content_Sceond_Main_Row {
  /* border-radius: 20px; */
  padding: 20px;
  margin: 80px 0px 0px 0px;
  background-color: rgb(250, 249, 249);
  /* box-shadow: 0px 0px 15px rgb(0, 51, 102); */
}
.Col_Text {
  margin: auto;
  padding-left: 60px;
}
.Col_Heading_Text {
  font-size: 25px;
}
.Col_Para_Text {
  font-size: 17px;
  padding: 25px 0px;
}
.Col_Sceond_Para_Text {
  font-size: 17px;
  padding: 15px 0px;
}
.Col_Button_Text {
  padding: 10px 40px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 6px rgb(0, 51, 102);
  background-color: rgb(0, 51, 102);
  transition: 0.5s;
}
.Col_Button_Text:hover {
  background-color: rgb(255, 187, 0);
}
.Col_Image {
  width: 100%;
}
.Main_Cards {
  box-shadow: 0px 0px 8px rgb(157, 153, 153);
  transition: 0.5s;
}
.Col_Sceond_Image {
  border-radius: 100% 0% 100% 0% / 69% 56% 44% 31%;
  width: 100%;
}

/* Sider */
.logo {
  padding-top: 20px;
}

/*  */
@media only screen and (max-width: 1300px) {
  .Second_div {
    margin: 5px;
    /* column-gap: 1px; */
  }
  .btn_nav {
    padding: 0px 0px;
    margin: 5px;
  }
  .Button_Main {
    display: none;
  }
  .Navber_Heading_Three {
    padding-left: 10px;
  }
  .Navber_Menu {
    margin-left: 0;
  }
}

@media screen and (max-width: 799px) {
  .Header_layot {
    display: none;
  }
  .Col_Image {
    width: 100%;
    margin-top: 20px;
  }
  .Col_Text {
    margin: auto;
    padding-left: 0px;
  }
  .Col_Sceond_Image {
    border-radius: 100% 0% 100% 0% / 69% 56% 44% 31%;
    width: 100%;
    margin-bottom: 30px;
  }
}
